<div class="card">
  <div class="card-header">{{title}}</div>

  <div class="card-body">
    <form novalidate [formGroup]="rugForm" (ngSubmit)="saveRug()">

      <div class="form-group row mb-2">
        <label class=" col-md-2 col-form-label">Rug Name</label>
        <div><input class="form-control" type=" text" placeholder="Name (Required)" formControlName="formName" />
        </div>
        <div class="is-invalid" *ngIf="rugForm.controls['formName'].invalid && rugForm.controls['formName'].touched">
          Name is required, and must be between 3 and 25 characters</div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2">ID</label>
        <div><input class="form-control" type=" text" placeholder="ID" formControlName="formId" readonly=true/></div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2">Availability</label>
        <div> <input class="form-control" type=" text" placeholder="In/ Out-of-Stock" formControlName="formAv" />
        </div>
        <div class="is-invalid" *ngIf="rugForm.controls['formAv'].invalid && rugForm.controls['formAv'].touched">
          Availability is required, and must be between 3 and 25 characters</div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2">Price</label>
        <div><input class="form-control" type=" text" placeholder="Price (Required)" formControlName="formPrice" />
        </div>
        <div class="is-invalid" *ngIf="rugForm.controls['formPrice'].invalid && rugForm.controls['formPrice'].touched">
          Price is required</div>
      </div>

      <div class="form-group row mb-2">
          <label class="col-md-2">Image Url</label>
          <div><input class="form-control" type=" text" placeholder="Image Url" formControlName="formImage" /></div>
        </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!rugForm.valid">
          Save
        </button>
      </div>

    </form>
  </div>

  <div class=" card-footer">
    <div class="col-md-4">
      <button class="btn btn-outline-secondary mr-3" style="width:80px" (click)="onDone()">
        Cancel
      </button>
    </div>
  </div>

</div>