<div class='card'>

    <div class='card-header'><b>{{title}}</b></div>

    <div class='card-body'>
        <div class='row'>
            <div class='col'>Filter by:</div>
            <div class='col-2'><input type="text" /></div>
        </div>
        <div class='row'>
            <div class='col-3'></div>
            <div class='col'>Filtered by: </div>
        </div>
    </div>

    <div class='table-responsive'>
        <table class='table' *ngIf='rugs && rugs.length'>
            <thead>
                <tr>
                    <!-- <th>
                        <button class="btn btn primary">Press</button>
                    </th> -->
                    <th>Rug</th>
                    <th>ID</th>
                    <th>Available</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let rug of rugs'>
                    <td>{{rug.rugName}}</td>
                    <td>{{rug.id}}</td>
                    <td>{{rug.available}}</td>
                    <td>{{rug.price}}</td>
                </tr>
            </tbody>

        </table>
    </div>

</div>