<div class='card'>
    <div class='card-header'>{{title}}</div>

    <div class='table-responsive'>
        <table class='table' *ngIf='rugs && rugs.length'>
            <thead>
                <tr>
                    <th>Rug</th>
                    <th>ID</th>
                    <th>Availability</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let rug of rugs'>
                    <td><a [routerLink]="['/rug-list', rug.id]">{{rug.name}}</a></td>
                    <td>{{rug.id}}</td>
                    <td>{{rug.availability}}</td>
                    <td>{{rug.price|currency:"USD":"symbol"}}</td>
                    <td>
                        <a (click)="deleteRug(rug.id)" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</div>