<div class='card' *ngIf='rug'>
  <div class='card-header'>{{title + ': '+rug.name}}</div>

  <div class="card-body" *ngIf="rug">
    <div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">Name:</div>
          <div class="col-md-6">{{rug.name}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">ID:</div>
          <div class="col-md-6">{{rug.id}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Availability:</div>
          <div class="col-md-6">{{rug.availability}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Price:</div>
          <div class="col-md-6">{{rug.price|currency:"USD":"symbol"}}</div>
        </div>

        <!-- <div class="col-md-10"> -->
        <img [title]='rug.name' [src]='rug.imageUrl'>
      </div>

    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <button class="btn btn-outline-secondary col-md-1" (click)="onBack()"
        style="margin-left:20px; margin-right:10px;">
        Back
      </button>

      <button class="btn btn-outline-danger col-md-1" (click)="deleteRug(rug)">
        Delete
      </button>

    </div>

  </div>
</div>